<div class="container my-4">
  <div class="row mb-4 text-center">
    <div class="col">
      <h2 class="font-weight-bold">修改餐廳資料</h2>
      <small class="form-text text-muted">星字號 <span class="required">*</span>為必填</small>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
    <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">

      <div class="form-group">
        <label for="name">餐廳名稱 <span class="required">*</span></label>
        <input type="text" name="name" placeholder="黑人ㄟ店" value="{{ restaurant.name }}"  aria-describedby="name"  >
        <small class="form-text text-muted text-right">可填入中文或英文</small>
      </div>
    
      <div class="form-group">
        <label for="name_en">英文名稱</label>
        <input type="text" name="name_en" placeholder="Black's Stinky Tofu" value="{{ restaurant.name_en }}" aria-describedby="name_en">
      </div>

      <div class="form-group">
        <label for="category">餐廳類型 <span class="required">*</span></label>
        <input type="text" name="category" placeholder="台式特色料理" value="{{ restaurant.category }}" aria-describedby="category">
      </div>

      <div class="form-group">
        <label for="image">餐廳照片網址 <span class="required">*</span></label>
        <input type="text" name="image" placeholder="http://www.photo.com/img01.jpg" value="{{ restaurant.image }}" aria-describedby="image">
        <small class="form-text text-muted text-right">請輸入完整圖片網址</small>
      </div>

      <div class="form-group">
        <label for="phone">餐廳電話 <span class="required">*</span></label>
        <input type="text" name="phone" placeholder="(02)2662-1357" value="{{ restaurant.phone }}" aria-describedby="phone"
        >
        <small class="form-text text-muted text-right">室內電話請加區碼</small>
      </div>

      <div class="form-group">
        <label for="location">餐廳地址 <span class="required">*</span></label>
        <input type="text" name="location" placeholder="新北市深坑區深坑街126號" value="{{ restaurant.location }}" aria-describedby="location"
        >
      </div>

      <div class="form-group">
        <label for="google_map">餐廳Google map網址 <span class="required">*</span></label>
        <input type="text" name="google_map" placeholder="https://goo.gl/maps/pAcxbn3ZLNHiUWkB8" value="{{ restaurant.google_map }}" aria-describedby="google_map">
        <small class="form-text text-muted text-right">請輸入完整網址</small>
      </div>

      <div class="form-group">
        <label for="rating">評分 <span class="required">*</span></label>
        <input type="number" name="rating" placeholder="1~5" value="{{ restaurant.rating }}" aria-describedby="rating" min="1.0" max="5.0"  step="0.1"  inputmode="numeric">
      </div>

      <div class="form-group">
        <label for="description">餐廳簡介 <span class="required">*</span></label>
        <textarea name="description" rows="6" cols="50" placeholder="餐廳位於深坑老街知名的廟口正對面，是老街最熱鬧之處。手工熬煮的麻辣湯頭，有神秘的配方，略帶中藥香氣，讓經典的麻辣臭豆腐更加美味銷魂。"  aria-describedby="description">{{ restaurant.description }}</textarea>
      </div>

      <button type="submit" class="btn btn-info my-4 float-right">儲存變更</button>
    </form>
    </div>

  </div>
</div>
